.app {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #558455;
  }
  
  .heading {
    color: #ab7f5f;
    font-family: 'Arial', sans-serif;
  }
 
